.navbar-brand {
    font-size: 30px;
    margin-top: 15px;
}

.lowUv {
    color:white;
    background: greenyellow;
}

.moderateUv {
    color: black;
    background: yellow;
}

.highUv {
    color: black;
    background: orange;
}

.veryHighUv {
    color: white;
    background: red;
}
.extremeUv {
    color: white;
    background: violet;
}
