.navbar-brand {
    font-size: 30px;
    margin-top: 15px;
}
.bg-secondary {
    background: #f8f9fa!important;
}

.bg-color {
    background: rgb(207, 238, 250);
}

.lowUv {
    color:white;
    background: greenyellow;
}

.moderateUv {
    color: black;
    background: yellow;
}

.highUv {
    color: black;
    background: orange;
}

.veryHighUv {
    color: white;
    background: red;
}
.extremeUv {
    color: white;
    background: violet;
}
